In [96]:
import rank
import imp
imp.reload(rank)
import glob
import re
REG_DATE = re.compile(r'(\d{8})_\d{6}.json')
frames = []
def xx(x):
    x.alias = '【' + str(x.pos) + '】' + x.alias.replace('0.7倍丨', '')
    return x
for file in glob.glob('./data/*.json'):
    match = REG_DATE.findall(file)
    rank_date = match[0]
    df_agg = rank.rank(rank.df_from_json(file))
    df_agg['date'] = rank_date
    df_agg['pos'] = df_agg.index
    frames.append(df_agg)
    
    df_agg.apply(xx, axis=1)
    print(df_agg.apply(xx, axis=1))
    break

    index             alias         id         avg         std  valid  total  \
0      28    【0】US丨得克萨斯0丨YT  cfg144a8f   74.888889   62.358729      9     10
1       3     【1】CA丨加拿大0丨YT  cfg184a8f  160.222222   51.686018      9     10
2       6      【2】FR丨法国0丨YT  cfg1c4a8f  118.111111  238.875723      9     10
3       1    【3】AU丨澳大利亚0丨YT  cfg234a8f  181.300000  196.022136     10     10
4      14      【4】NL丨荷兰0丨NF  cfg1f4a8f  176.222222  269.922108      9     10
5      11     【5】IT丨意大利0丨NF  cfg1e4a8f  178.222222  241.767852      9     10
6      24    【6】US丨佛罗里达0丨NF  cfg154a8f  341.666667    9.420722      9     10
7      18      【7】SE丨瑞典0丨NF  cfg204a8f  271.777778   57.148442      9     10
8      15     【8】NZ丨新西兰0丨NF  cfg244a8f  191.666667  239.228447      9     10
9      10      【9】IN丨印度0丨NF  cfg104a8f  294.800000  223.805372     10     10
10      4     【10】DE丨德国0丨NF  cfg1d4a8f  147.125000   50.374136      8     10
11     12     【11】JP丨日本0丨NF  cfg0d4a8f  265.000000   13.648652      8     10
12      9     【12】HK丨香港2丨NF  cfg0a4a8f  453.666667   80.501553      9     10
13     30     【13】ZA丨南非0丨NF  cfg264a8f  186.125000   77.865154      8     10
14     23     【14】UK丨英国0丨NF  cfg1b4a8f  398.777778  322.004960      9     10
15      8     【15】HK丨香港1丨NF  cfg094a8f  666.333333  108.576010      9     10
16     13     【16】KR丨韩国0丨NF  cfg0e4a8f  660.555556  190.115827      9     10
17      5     【17】EG丨埃及0丨NF  cfg254a8f  355.875000  153.211747      8     10
18     19    【18】SG丨新加坡0丨NF  cfg0f4a8f  459.125000   29.949660      8     10
19     25    【19】US丨俄勒冈0丨NF  cfg174a8f  267.666667   20.264912      6     10
20     17    【20】RU丨俄罗斯0丨NF  cfg214a8f  697.444444  242.320094      9     10
21     27    【21】US丨华盛顿0丨YT  cfg164a8f  359.625000  253.467911      8     10
22     22     【22】TW丨台湾2丨NF  cfg0c4a8f  517.000000  181.924631      8     10
23     29     【23】US丨纽约0丨YT  cfg134a8f  334.000000   16.970563      6     10
24      7     【24】HK丨香港0丨NF  cfg084a8f  541.125000  194.090139      8     10
25     21     【25】TW丨台湾0丨NF  cfg0b4a8f  445.166667   31.473269      6     10
26     20    【26】TR丨土耳其0丨NF  cfg224a8f  624.714286   33.870903      7     10
27     26  【27】US丨加利福利亚0丨NF  cfg124a8f  684.750000  407.299030      8     10
28     16    【28】PH丨菲律宾0丨NF  cfg114a8f  660.428571  148.734503      7     10
29      0    【29】AR丨阿根廷0丨NF  cfg194a8f  657.000000  277.461108      7     10
30      2     【30】BR丨巴西0丨NF  cfg1a4a8f  786.428571   96.053556      7     10

    lost  curl_rank  avg_pct  std_pct  lost_pct      date  pos
0      1       23.0      1.0     11.0       3.0  20211015    0
1      1       30.0      4.0      9.0       3.0  20211015    1
2      1       38.0      2.0     23.0       3.0  20211015    2
3      0       45.0      7.0     21.0       1.0  20211015    3
4      1       52.0      5.0     28.0       3.0  20211015    4
5      1       52.0      6.0     25.0       3.0  20211015    5
6      1       55.0     15.0      1.0       3.0  20211015    6
7      1       55.0     12.0     10.0       3.0  20211015    7
8      1       60.0      9.0     24.0       3.0  20211015    8
9      0       64.0     13.0     22.0       1.0  20211015    9
10     2       65.0      3.0      8.0      16.0  20211015   10
11     2       80.0     10.0      2.0      16.0  20211015   11
12     1       82.0     20.0     13.0       3.0  20211015   12
13     2       84.0      8.0     12.0      16.0  20211015   13
14     1       93.0     18.0     30.0       3.0  20211015   14
15     1      108.0     28.0     15.0       3.0  20211015   15
16     1      109.0     27.0     19.0       3.0  20211015   16
17     2      113.0     16.0     17.0      16.0  20211015   17
18     2      116.0     21.0      5.0      16.0  20211015   18
19     4      124.0     11.0      4.0      29.0  20211015   19
20     1      125.0     30.0     26.0       3.0  20211015   20
21     2      126.0     17.0     27.0      16.0  20211015   21
22     2      132.0     22.0     18.0      16.0  20211015   22
23     4      132.0     14.0      3.0      29.0  20211015   23
24     2      137.0     23.0     20.0      16.0  20211015   24
25     4      150.0     19.0      6.0      29.0  20211015   25
26     3      154.0     24.0      7.0      25.0  20211015   26
27     2      166.0     29.0     31.0      16.0  20211015   27
28     3      169.0     26.0     16.0      25.0  20211015   28
29     3      179.0     25.0     29.0      25.0  20211015   29
30     3      182.0     31.0     14.0      25.0  20211015   30

In [57]:
dfh=pd.read_csv('./data/history.csv', index_col=0)
dfh[dfh.date==20211103].pos.count()

0

In [97]:
import plotly.express as px
df = px.data.gapminder().query("continent == 'Oceania'")
df

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
60,Australia,Oceania,1952,69.120,8691212,10039.59564,AUS,36
61,Australia,Oceania,1957,70.330,9712569,10949.64959,AUS,36
62,Australia,Oceania,1962,70.930,10794968,12217.22686,AUS,36
63,Australia,Oceania,1967,71.100,11872264,14526.12465,AUS,36
64,Australia,Oceania,1972,71.930,13177000,16788.62948,AUS,36
65,Australia,Oceania,1977,73.490,14074100,18334.19751,AUS,36
66,Australia,Oceania,1982,74.740,15184200,19477.00928,AUS,36
67,Australia,Oceania,1987,76.320,16257249,21888.88903,AUS,36
68,Australia,Oceania,1992,77.560,17481977,23424.76683,AUS,36
69,Australia,Oceania,1997,78.830,18565243,26997.93657,AUS,36
70,Australia,Oceania,2002,80.370,19546792,30687.75473,AUS,36
71,Australia,Oceania,2007,81.235,20434176,34435.36744,AUS,36
1092,New Zealand,Oceania,1952,69.390,1994794,10556.57566,NZL,554
1093,New Zealand,Oceania,1957,70.260,2229407,12247.39532,NZL,554
1094,New Zealand,Oceania,1962,71.240,2488550,13175.67800,NZL,554
1095,New Zealand,Oceania,1967,71.520,2728150,14463.91893,NZL,554
1096,New Zealand,Oceania,1972,71.890,2929100,16046.03728,NZL,554
1097,New Zealand,Oceania,1977,72.220,3164900,16233.71770,NZL,554
1098,New Zealand,Oceania,1982,73.840,3210650,17632.41040,NZL,554
1099,New Zealand,Oceania,1987,74.320,3317166,19007.19129,NZL,554
1100,New Zealand,Oceania,1992,76.330,3437674,18363.32494,NZL,554
1101,New Zealand,Oceania,1997,77.550,3676187,21050.41377,NZL,554
1102,New Zealand,Oceania,2002,79.110,3908037,23189.80135,NZL,554
1103,New Zealand,Oceania,2007,80.204,4115771,25185.00911,NZL,554